@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@theme {
  --color-sand-50: #fcfcfb;
  --color-sand-100: #f5f4f1;
  --color-sand-200: #e8e6e1;
  --color-sand-300: #d4d1c9;
  --color-sand-400: #b5b1a7;
  --color-sand-500: #918c81;
  --color-sand-600: #736e64;
  --color-sand-700: #5c5850;
  --color-sand-800: #47443e;
  --color-sand-900: #3b3834;
  --color-sand-950: #242220;

  --color-oxford-50: #f3f6f9;
  --color-oxford-100: #e0e9f1;
  --color-oxford-200: #c6d6e6;
  --color-oxford-300: #9ebcda;
  --color-oxford-400: #719ac8;
  --color-oxford-500: #173a65;
  --color-oxford-600: #112b4d;
  --color-oxford-700: #0c1e36;
  --color-oxford-800: #061221;
  --color-oxford-900: #020810;
  --color-oxford-950: #010408;

  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-serif: "Playfair Display", serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-sand-50);
  color: var(--color-sand-900);
}
